<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your new playlist</title>
    <h1>I am done! :)</h1>
    <div>
        <h3>Playlist name: {{ playlist_name }}</h3>
        <a href="{{ playlist_link }}">Open playlist</a><br>
    </div>
    <div>
        <table>
            <tr align="left">
                <th>Track</th>
                <th>Artist</th>
                <h3 type="text">Songs:</h3>
                <ul>
                    {% for song in songs %}
                        <tr align="left">
                            <th>{{ song.name }}</th>
                            <th>{{ song.artist }}</th>
                        </tr>
                    {% endfor %}
            </ul>
        </table>
    </div>

</head>
<body>

</body>
</html>